<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Centro Matematico</title>
	<link rel="stylesheet" href="C:\Users\Jo5h7\Desktop\djangogirls\blog\templates\blog\estilos.css">
	<!--<button onclick="myFunction()">login</button> -->
	<script>
		function myFunction(){
			let person = prompt("Usuario nuevo:");
		
			let pass = prompt("Password:");
		}
		function myFunction2(){
			let person2 = prompt("Usuario:");
			let pass2 = prompt("Password:");

		}
	</script>
	<H2><center>Centro Matematico</center></H2>
	<hr>
	<h1><center><table border ="1" width="60%">
		<tr>
			<td><center><a onClick="myFunction()" style="color:#5b5b3e">Registrarse</a></center></td>
			<td><center><a onClick="myFunction2()" style="color:#5b5b3e">Entrar</a></center></td>
		</tr>
		</table></center>
	</h1>
	<p id="user_reg"></p>
</head>
<body>
<img src="C:\Users\Jo5h7\Desktop\djangogirls\blog\templates\blog\logo.jpeg", alt="Se mas", style="width:35%;">
<h3>Proyecto Para el apoyo estudiantil</h3>
<P>Descripciones generales</P>
</body>
</html>